@CHARSET "UTF-8";

/*------------------------------------*/
/*               메뉴 영역                             */
/*------------------------------------*/
#header {
    position: relative;
    width: 100%;
    min-width: 1048px;
    height: 150px;
    z-index: 20;
}

#header_wrap {
	width: 1008px;
	margin: 0 auto;
	padding: 0 228px 0 20px;
}

#header_wrap.pr_none {
	padding: 0 19px;
}

#gnb {
	border: none;
}

#gnb h1 {
	float: left;
	line-height: 0;
}