@CHARSET "UTF-8";

#top_search input {
	vertical-align: middle;
}

#top_search input {
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	margin: 0em;
	font: 400 13.3333px Arial;
}

/*------------------------------------*/
/*                검색                                 */
/*------------------------------------*/

#top_search input[type=text] {
	height: 24px;
	padding: 0 7px;
	border: 1px solid #b6b6b6;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #666;
	/* box-shadow: 1px 1px 0 0 rgba(0,0,0,0.05) inset; */
	box-shadow: none;
	font-size: 11px;
	font-family: dotum, "돋움", "Apple Gothic", sans-serif;
}

#top_search input[type=text] {
	*line-height: 24px;
}

#gnb fieldset {
	display: inline;
	position: relative;
	float: left;
	width: 322px !important;
	height: 40px;
	margin: 36px 0 0 11px;
	background-image: url("../../../assets/img/menu/menu_search_bg.png");
	background-repeat: no-repeat;
	z-index: 15;
}

legend {
	position: absolute;
	top: -7000px;
	left: -7000px;
	height: 0;
	/* visibility: hidden; */
}

legend, #IE8#HACK {
	margin-top: 0;
	margin-bottom: 0;
}

#gnb fieldset input[type=text] {
	display: inline;
	float: left;
	border: none;
	padding-top: 3px;
	margin: 7px 0 0 18px;
	padding-left: 0px;
	height: 20px;
	box-shadow: none;
	color: #1a1a1a;
	font-size: 12px;
	line-height: 20px;
	*line-height: 22px;
	color: #999999;
	*height: 23px;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*------------------------------------*/
/*              검색 버튼                               */
/*------------------------------------*/
#gnb fieldset .btn_auto {
	float: left;
}

#gnb fieldset .btn_auto span {
	display: inline-block;
	width: 33px;
	height: 32px;
	margin: 0 -6px 0 0;
	*margin: -1px -10px 0 0;
	background-image:
		url("../../../assets/img/menu/menu_search_auto_btn.png");
	background-repeat: no-repeat;
	vertical-align: middle;
}

#gnb fieldset .btn_auto.close span {
	background-position: -33px 0;
}

button, .btn {
	border: 1px solid red;
	display: inline-block;
	zoom: 1;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	text-decoration: none !important;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
}

button span.odd_span, .btn span.odd_span, button span.even_span, .btn span.even_span
	{
	display: block;
	position: relative;
}

.btn_icon span.odd_span {
	display: inline-block;
	width: 23px;
	height: 23px;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
}

.btn_icon.search_m {
	float: right;
	height: 40px;
	margin: 0;
}

.btn_icon.search_m span.odd_span {
	width: 45px;
	height: 40px;
	background-image: url("../../../assets/img/menu/menu_search.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: top;
}

/*------------------------------------*/
/*           검색시 밑에 자동 완성                    */
/*------------------------------------*/
#gnb fieldset .auto_complete {
	position: absolute;
	top: 43px;
	left: 1px;
	padding-bottom: 13px;
	background-image:
		url("../../../assets/img/menu/menu_search_auto_bg.png");
	background-repeat: no-repeat;
	background-position: -322px bottom;
}

#gnb fieldset .auto_complete .auto_complete_cont {
	padding-top: 13px;
	background-image:
		url("../../../assets/img/menu/menu_search_auto_bg.png");
	background-repeat: no-repeat;
	background-position: 0 top;
}

#gnb fieldset .auto_complete .thumb_result {
	padding-top: 0;
}

#gnb fieldset .auto_complete ul {
	width: 320px;
	border-left: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
	background-color: #fff;
}

#gnb fieldset .auto_complete .thumb_result li {
	font-size: 0;
	line-height: 0;
}

#gnb fieldset .auto_complete .thumb_result li.cate {
	position: relative;
	height: 16px;
	margin-top: 5px;
	padding: 2px 0 0 16px;
	padding-top: 12px;
	border-top: 1px solid #d9d9d9;
}

#gnb fieldset .auto_complete .thumb_result li.first_child.cate {
	padding: 2px 0 2px 16px;
	margin: 0;
	border-top: none;
}

#gnb fieldset .auto_complete .thumb_result li.class02 {
	background: none;
}

#gnb fieldset .auto_complete .thumb_result li.class02 a {
	display: block;
	height: 40px;
	padding: 7px 0 7px 16px;
	cursor: pointer;
}

#gnb fieldset .thumb_40 {
	display: block;
	float: left;
	position: relative;
	width: 40px;
	height: 40px;
}

#gnb fieldset .thumb_40 img {
	display: block;
}

#gnb fieldset .thumb_40 .thumb_frame {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background-image:
		url("../../../assets/img/menu/menu_search_auto_bg_album_frame.png");
	background-repeat: no-repeat;
	background-position: -958px -162px;
}

#gnb fieldset .auto_complete .thumb_result li.class02 a .info {
	float: left;
	width: 220px;
	margin: 4px 0 0 12px;
}

#gnb fieldset .auto_complete .thumb_result li.class02 a .info span {
	display: inline-block;
	max-width: 211px;
	line-height: 140%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
}

#gnb fieldset .auto_complete .thumb_result li.class02 a .info span strong
	{
	color: #0ca92a;
	vertical-align: bottom;
}

#gnb fieldset .auto_complete .thumb_result li.class02 a .info span .f11
	{
	font-size: 11px;
	color: #333;
	letter-spacing: 0;
}

/*------------------------------------*/
/*      검색시 밑에 자동 완성 텍스트 결과             */
/*------------------------------------*/
#gnb fieldset .auto_complete ul {
	width: 320px;
	border-left: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
	background-color: #fff;
}

#gnb fieldset .auto_complete .text_result {
	width: 320px;
	padding-top: 0;
}

#gnb fieldset .auto_complete .text_result li {
	height: inherit;
	margin: 0;
	padding: 0;
}

/*------------------------------------*/
/*             검색어가 없을 때                         */
/*------------------------------------*/
#gnb fieldset .auto_complete .text_result li.result_none {
	height: 15px;
	padding: 2px 0 0 16px;
}

#gnb fieldset .result_none span {
	display: block;
	color: #575757;
	line-height: 15px;
}