@CHARSET "UTF-8";

/* 배너 영역 */
.cmn_banner {
    float: right;
    position: relative;
    top: 24px;
    font-size: 0;
    line-height: 0;
    z-index: 11;
}

/* 버튼 */
.mySlides {
	display: none
}

.cmn_banner .gnb_banner_btn {
    position: absolute;
    top: 47px;
    right: 0;
    zoom: 1;
    overflow: hidden;
}

.cmn_banner .gnb_banner_btn a {
    float: left;
    display: inline-block;
    width: 20px;
    height: 17px;
    font-size: 0;
    line-height: 0;
    background-image: url("../../../assets/img/common/common_btn_page2.png");
    background-repeat: no-repeat;
    background-position: left -220px;
}

.cmn_banner .gnb_banner_btn .next {
    margin-left: -2px;
    background-position: right -220px;
}