@CHARSET "UTF-8";

#wrap_conts {
   width: 100%;
   text-align: center;
}

#conts {
   display: inline-block;
   width: 1008px;
   min-height: auto;
   padding-top: 30px;
   padding-bottom: 90px;
}

#tit {
   color: #1a1a1a;
   font-weight: bold;
   font-size: 24px;
   line-height: 30px;
   font-family: "맑은 고딕", sans-serif;
   letter-spacing: -2px;
   margin-bottom: 20px;
   text-align: left;
}

#pageList {
   text-align: center;
   padding-top: 35px;
}

#pageList table {
   border-collapse: collapse;
   border: 1px;
   width: 100%;
}

#pageList thead tr {
   border-top: 2px solid #848484;
   background-color: #fafafa;
   border-bottom: 1px solid #cfcfcf;
   height: 35px;
   line-height: 35px;
}

#pageList tbody {
   text-align: center;
}

#pageList tbody tr {
   height: 40px;
   line-height: 40px;
   border-bottom: 1px solid #cfcfcf;
}

#pageList tbody #subject {
   text-align: left;
}

#wrap_select {
   margin-bottom: 10px;
}

#wrap_select select {
   width: 152px;
   height: 26px;
   float: left;
}

.writeNotice {
   margin-top: 50px;
   float: none;
}

#wrap_num {
   margin-top: 10px;
}

.dtl {
   display: block;
   padding: 21px 16px 36px;
   min-height: 200px;
   text-align: left;
}

.cate_sub {
   text-align: left
}

.cate_sub select {
   width: 126px; 
   height: 26px;
}

.cate_sub input {
   margin-bottom: 4px;
   height: 20px;
}

#smarteditor {
   width: 1000px;
   height: 300px;
}

#submit_btn {
   margin: auto;   
   border: 1px solid #d3d3d3;
   border-radius: 40px;
   background-color: #F9B700;
   display: inline-block;
   padding: 10px 30px;
   font-weight: bold;
   color: #fff;
   outline: 0;
}

#submit_btn:hover {
   background-color: #EDAE06;
}

#cancel_btn {
   margin: auto;
   border: 1px solid #ddd;
   border-radius: 40px;
   background-color: #fff;
   display: inline-block;
   padding: 10px 30px;
   font-weight: bold;
   color: #666;
   outline: 0;
}

#cancel_btn:hover {
   border: 1px solid #666;
}

.noticeContentBtn {
	margin-top: 0px;
    border: 1px solid #d3d3d3;
    border-radius: 40px;
    background-color: #EDAE06;
    display: inline-block;
    padding: 10px 30px;
    font-weight: bold;
    color: #fff;
    outline: 0;
}

.noticeContentBtn:HOVER {
    background-color: rgb(255,0,255);
    cursor: pointer;
}




