@CHARSET "UTF-8";

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
	abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul,
	li, fieldset, form, label, legend, caption, article, aside, dialog,
	figure, footer, header, hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
	color: #1a1a1a;
	text-decoration: none;
}

a:link {
	color: #1a1a1a;
	text-decoration: none;
}

a:visited {
	color: #1a1a1a;
	text-decoration: none;
}

img {
	border: none;
	line-height: 0;
	font-size: 0;
}

a img {
	border: none;
}

ol, ul, li {
	list-style: none;
	font-weight: normal;
}

/* 내용 */
#conts {
	position: relative;
	z-index: 10;
	display: inline-block;
	display: block;
	width: 1008px;
	min-height: 800px;
	padding: 29px 0 88px;
	zoom: 1;
}

#conts h2 {
	margin-top: 0 !important;
}

.clfix {
	display: inline-block;
}

.clfix {
	zoom: 1;
}

.clfix {
	display: block;
}


/* float 정렬 */
.fl_left {
    float: left;
}

.fl_right {
    float: right;
}

/* margin-top */
.mt24 {
	margin-top: 24px !important;
}

/* margin-left */
.ml0 {
	margin-left: 0 !important;
}

/* 폰트 색깔 */
.fc_mgray {
	color: #777 !important;
}

/* 차트 순위 UP */
.up {
	color: #ff4c7c;
	font-size: 10px;
}

/* 버튼 */
button, .btn {
	border: 1px solid red;
	display: inline-block;
	zoom: 1;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	text-decoration: none !important;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
}

button, .btn {
	*margin: 0 2px;
	*overflow: visible;
}

button span.odd_span, .btn span.odd_span, button span.even_span, .btn span.even_span
	{
	display: block;
	position: relative;
}

button.disabled, .btn.disabled {
	cursor: default;
}

.btn_pre span.odd_span {
	background-position: left top;
}

.btn_pre.disabled span.odd_span {
	background-position: left -90px !important;
}

.btn_pre span.odd_span, .btn_next span.odd_span {
	width: 22px;
	height: 21px;
	background-image: url("../../../assets/img/common/common_btn_page.png");
	background-repeat: no-repeat;
	background-position: left top;
	font-size: 0;
	line-height: 0;
}

.btn_next span.odd_span {
	background-position: right top;
}

.tb_list .ellipsis a {
    color: #666;
}

.tb_list th .wrap.right_none, .tb_list td .wrap.right_none {
    padding-right: 0;
}

.btn_icon.like span.odd_span {
    background-image: url("../../../assets/img/artistChanel/artist_chanel_bg_sprite_gray.png");
    background-repeat: no-repeat;
    background-position: left top;
}

.btn_icon span.cnt {
    width: auto;
    height: auto;
    background: none !important;
    overflow: visible;
    color: #666;
    font-size: 12px;
    line-height: 14px;
    font-family: "돋움","dotum", "Apple Gothic",sans-serif;
    vertical-align: middle;
    text-indent: 0;
}

.btn_icon.mv span.odd_span {
    background-image: url("../../../assets/img/artistChanel/artist_chanel_bg_sprite_gray.png");
    background-repeat: no-repeat;
    background-position: -28px top;
}

.tb_list th .wrap.right, .tb_list td .wrap.right {
    padding-right: 16px;
}

.btn_icon.dl span.odd_span {
    background-image: url("../../../assets/img/artistChanel/artist_chanel_bg_sprite_gray.png");
    background-repeat: no-repeat;
    background-position: -84px top;
}

button.disabled, .btn.disabled {
    cursor: default;
}

.btn_icon.mv.disabled span.odd_span {
    background-image: url("../../../assets/img/artistChanel/artist_chanel_bg_sprite_gray.png");
    background-repeat: no-repeat;
    background-position: -224px top;
}