@CHARSET "UTF-8";

.page .page_num {
	color: #666;
	font-size: 12px;
	line-height: 1.2em;
	font-family: arial, "돋움", "dotum", sans-serif, "Apple Gothic",
		sans-serif;
	vertical-align: middle;
}

.page .page_num strong {
	color: #333;
}

.page .wrap_btn {
	display: inline-block;
	margin-left: 3px;
	vertical-align: middle;
}

.page .wrap_btn {
    *zoom: 1;
}

.page .wrap_btn .btn {
    *margin: 0;
}

.page .wrap_btn .btn_pre, .page .wrap_btn .btn_next {
    float: left;
    margin-right: 0;
}

.page .wrap_btn .btn_pre {
    margin-right: -1px;
}
