@CHARSET "UTF-8";

.section_atistinfo03 {
    position: relative;
}

/* 타이틀 */
h3.title {
    padding-top: 33px;
    padding-bottom: 12px;
    color: #1a1a1a;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    font-family: "맑은 고딕", "Malgun Gothic", "Apple Gothic", sans-serif;
}

h3.line {
    margin-bottom: 16px;
    border-bottom: 1px solid #e6e6e6;
}

h3.arr {
    padding-left: 11px;
    background-image: url("../../../assets/img/artistChanel/artist_chanel_bul_title.png");
    background-repeat: no-repeat;
    background-position: 0 40px;
}

.wrap_insdc .atist_insdc {
    width: 100%;
    color: #1a1a1a;
    font-size: 12px;
    line-height: 20px;
    word-break: break-all;
    overflow: hidden;
}

/* 활동정보 내용 */
.section_atistinfo03 .list_define {
    width: 1000px;
    height: 170px;
    margin-left: 10px;
}

.section_atistinfo03 .list_define dt {
    float: left;
    clear: both;
    width: 112px;
    line-height: 20px;
}

.section_atistinfo03 .list_define dd {
    float: left;
    width: 888px;
    color: #1a1a1a;
    line-height: 20px;
}

.section_atistinfo03 .list_define dd span.bar {
    margin: 0 7px 0 3px;
    color: #ccc;
}

.debutsong .debutsong_info .ellipsis {
    display: inline-block;
    width: auto;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 신상정보 내용 */
.section_atistinfo04 .list_define {
    width: 752px;
    margin-left: 10px;
}

.section_atistinfo04 .list_define dt {
    float: left;
    clear: both;
    width: 112px;
    line-height: 20px;
}

.section_atistinfo04 .list_define dd {
    float: left;
    width: 640px;
    color: #1a1a1a;
    line-height: 20px;
}