@CHARSET "UTF-8";

/* 타이틀 */
h3.title {
    padding-top: 33px;
    padding-bottom: 12px;
    color: #1a1a1a;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    font-family: "맑은 고딕", "Malgun Gothic", "Apple Gothic", sans-serif;
}

h3.line {
    margin-bottom: 16px;
    border-bottom: 1px solid #e6e6e6;
}

h3.arr {
    padding-left: 11px;
    background-image: url("../../../assets/img/artistChanel/artist_chanel_bul_title.png");
    background-repeat: no-repeat;
    background-position: 0 40px;
}

.wrap_insdc .atist_insdc {
    width: 100%;
    color: #1a1a1a;
    font-size: 12px;
    line-height: 20px;
    word-break: break-all;
    overflow: hidden;
}

