@CHARSET "UTF-8";

/*------------------------------------*/
/*             아티스트 정보 영역                      */
/*------------------------------------*/
.wrap_dtl_atist {
	border: 1px solid #bbbbbb;
	border-top: 2px solid #808080;
	height: 250px;
}

.wrap_dtl_atist .dtl_atist {
	position: relative;
	padding: 24px 23px;
	background-color: #fff;
}

.none {
	position: absolute;
	top: -5000em;
	left: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

/*------------------------------------*/
/*              프로필 이미지                           */
/*------------------------------------*/
.wrap_dtl_atist .wrap_thumb {
	float: left;
	position: relative;
	width: 208px;
}

.dtl_atist .wrap_thumb .thumb {
	display: block;
	position: relative;
	width: 208px;
	height: 208px;
}

.dtl_atist .wrap_thumb .thumb_frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 208px;
	height: 208px;
	background-image:
		url("../../../assets/img/artistChanel/artistChanel_bg_atist_frame.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

/*------------------------------------*/
/*             아티스트 정보                            */
/*------------------------------------*/
.wrap_dtl_atist .wrap_atist_info {
	float: left;
	width: 440px;
	margin-left: 22px;
}

/* 가수 이름 */
.dtl_atist .wrap_atist_info .title_atist {
	margin-top: -2px;
	color: #000;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	font-family: "맑은 고딕", "Malgun Gothic", "Apple Gothic", sans-serif;
	letter-spacing: -1px;
	word-break: break-all;
}

/* 가수 본명 */
.dtl_atist .wrap_atist_info .title_atist .realname {
	font-size: 16px;
}

/* 가수 정보 영역 */
.dtl_atist dl.atist_info {
	margin-top: 19px;
}

/* 가수 정보 주제 */
.dtl_atist .wrap_atist_info dt {
	clear: left;
	float: left;
	width: 70px;
	padding-left: 2px;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	font-family: Dotum, "Apple Gothic", sans-serif;
}

/* 가수 정보 내용 */
.dtl_atist .wrap_atist_info dd {
	float: left;
	width: 368px;
	color: #1a1a1a;
	font-size: 12px;
	line-height: 20px;
	font-family: Dotum, "Apple Gothic", sans-serif;
}

.dtl_atist .wrap_atist_info dd .gubun {
	display: inline-block;
}

/* 데뷔 앨범 노래 듣기 */
.btn_play_song {
	display: inline-block;
	overflow: hidden;
	width: auto;
	max-width: 100%;
	margin: 0;
	height: 17px;
	text-decoration: none !important;
	cursor: pointer;
	*cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	text-align: left;
}

.dtl_atist .wrap_atist_info dd .btn_play_song {
	height: 18px;
	margin-left: 12px;
	max-width: 290px;
	vertical-align: top;
}

.btn_play_song span.icon_play {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0;
	background-image:
		url("../../../assets/img/artistChanel/artistChanel_btn_play_song.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	line-height: 0;
	text-indent: -9999px;
	*text-indent: 0;
	*font-size: 0px;
	*line-height: 0;
	vertical-align: top;
}

.btn_play_song span.songname12 {
	color: #1a1a1a;
	font-size: 12px;
	line-height: 16px;
	font-family: "Dotum", "Apple Gothic", sans-serif;
	vertical-align: top;
	text-align: left;
}

.dtl_atist .wrap_atist_info dd a.btn_play_song .songname12 {
	max-width: 200px;
}

.dtl_atist .wrap_atist_info dd {
	float: left;
	width: 368px;
	color: #1a1a1a;
	font-size: 12px;
	line-height: 20px;
	font-family: Dotum, "Apple Gothic", sans-serif;
}

.dtl_atist .wrap_atist_info dd.awarded .ellipsis {
	float: left;
	display: inline-block;
	max-width: 315px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.dtl_atist .wrap_atist_info dd .bar {
	margin: 0 5px;
	color: #ccc;
}

/* 더보기 */
.btn_text {
	cursor: pointer;
}

.dtl_atist .wrap_atist_info dd.awarded .btn_text {
	display: inline-block;
	margin-left: 10px;
	*margin-left: 2px;
	vertical-align: top;
	*vertical-align: middle;
}

.btn_text .text {
	display: inline;
	color: #666;
	font-size: 11px;
	line-height: 1.2em;
	letter-spacing: -1px;
	font-family: "Dotum", "돋음", "Apple Gothic", sans-serif;
}

.btn_text .icon {
	display: inline-block;
	background-image:
		url("../../../assets/img/artistChanel/artistChanel_bg_btn_icon.png");
	background-repeat: no-repeat;
	background-position: left top;
	vertical-align: middle;
}

.btn_text.arrow_r .icon {
	width: 4px;
	height: 7px;
	background-position: -136px -57px;
	line-height: 7px;
	vertical-align: 1px;
}

/* 라디오 버튼 - 발매 참여 작사 작곡 */
.sort_info {
	padding: 24px 0 9px;
}

.sort_info .fl_left {
	color: #1a1a1a;
}

.sort_info .wrap_sort {
	margin-top: 3px;
}

.wrap_sort .ico_radio {
	display: inline-block;
	margin-right: 8px;
}

.ico_radio .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image:
		url("../../../assets/img/artistChanel/artistchanel_bg_radio.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: middle;
}

.ico_radio.on .icon {
	background-position: -20px 0;
}

.ico_radio .text {
	color: #666;
	vertical-align: middle;
}

.ico_radio.on .text {
	color: #1a1a1a;
}

.ico_radio.on .text span {
	font-weight: bold;
	letter-spacing: -1px;
}

/* 정렬 - 최신순 인기순 가나다순 */
.sort_info .list_sort {
	margin-top: 4px;
}

.list_sort li {
	float: left;
	margin-left: 4px;
	padding: 0 4px 0 9px;
	background-image:
		url("../../../assets/img/artistChanel/artistchanel_bg_gray_bar.png");
	background-repeat: no-repeat;
	background-position: 0 3px;
}

.list_sort li.first_child {
	margin-left: 8px;
	background: 0;
}

.list_sort li a {
	color: #666;
}

.list_sort li.on a {
	color: #1a1a1a;
	font-weight: bold;
}

/* 곡 리스트 영역 */
.tb_list {
	max-width: 1008px;
	border: 1px solid #e4e4e4;
	border-width: 1px 0;
}

/* 전체선택 듣기 다운 담기 선물 */
.tb_list .wrap_btn_tb {
	padding: 7px 0;
}

.tb_list .wrap_btn_tb.top {
	border-bottom: 1px solid #ccc;
}

.btn_base span.odd_span {
	padding-left: 8px;
	background-image:
		url("../../../assets/img/artistChanel/artistchanel_bg_btn_base.png");
	background-repeat: no-repeat;
	background-position: left top;
}

.btn_base.short.check_all span.odd_span {
    padding-left: 21px;
    background-position: left -1285px;
}

.btn_base span.even_span {
    min-width: 22px;
    height: 26px;
    padding-right: 8px;
    background-image: url("../../../assets/img/artistChanel/artistchanel_bg_btn_base.png");
    background-repeat: no-repeat;
    background-position: right top;
    color: #333;
    font-size: 11px;
    line-height: 29px;
    font-family: "Dotum", "돋음", "Apple Gothic", sans-serif;
    letter-spacing: -1px;
}

.btn_base.short span.even_span {
    height: 24px;
    padding-right: 5px;
    background-position: right -1286px;
    line-height: 26px;
}

.btn_base.play span.odd_span {
    padding-left: 19px;
    background-position: left -148px;
}

.btn_base.short span.odd_span {
    background-position: left -1285px;
}

.btn_base.short span.odd_span {
    padding-left: 7px;
}

.btn_base.short.play span.odd_span {
    padding-left: 18px;
    background-position: left -1316px;
}

.btn_base.short.download span.odd_span {
    padding-left: 18px;
    background-position: left -1347px;
}

.btn_base.short.scrap span.odd_span {
    padding-left: 18px;
    background-position: left -1378px;
}

.btn_base.short.gift span.odd_span {
    padding-left: 18px;
    background-position: left -1409px;
}

/* 곡 리스트 테이블 */
table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

table, th, td {
    vertical-align: top;
}

caption {
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    float: none !important;
}

#d_cmtpgn caption, th, td {
    text-align: left;
    font-weight: normal;
    float: none !important;
}

#d_cmtpgn table, th, td {
    vertical-align: top;
}

.tb_list th, .tb_list td {
    line-height: 1.2em;
    text-align: center;
    vertical-align: middle;
}

.tb_list th {
    height: 26px;
    border-bottom: 2px solid #EDAE06;
    color: #EDAE06;
    font-family: "돋움", "Dotum", "Apple Gothic", sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.tb_list th .wrap, .tb_list td .wrap {
    padding: 0 8px;
}

.tb_list th .wrap.pd_none, .tb_list td .wrap.pd_none {
    padding: 0;
}

.tb_list th .wrap.left, .tb_list td .wrap.left {
    padding-left: 16px;
}

.tb_list th .input_check {
    *width: 12px;
    *height: 12px;
    margin: 0;
    vertical-align: -2px;
}

.tb_list th.t_left, .tb_list td.t_left {
    text-align: left;
}