@CHARSET "UTF-8";

h1 {
	text-align: left;
	margin-top: 30px;
	margin-bottom: 0px;
	margin-right: 30px;
	margin-left: 50px;
	color: black;
	font-size: 30px;
	font-weight: bold;
}

.cate_sub {
   text-align: left
}

#conts_section.pr_none {
	padding: 0 20px;
}

figure{
   width:150px; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin:0;   /*reset margin of figure tag*/
}

figure img{
   display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
}


table.type04 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
 	margin : 20px 10px;
}

table.type04 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
	border-bottom: 1px solid #ccc;
	font-size: 10px;
	text-align: center;
}
table.type04 td {
    padding: 10px;
    vertical-align: top;
	border-bottom: 1px solid #ccc;
	text-align: center;
}

#sub {
	font-weight: bold;
}

input[type=text], select {
	width: 100%;
	padding: 15px 20px;
	margin: 5px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#frm {
	padding: 0 20px;
}

.tdclass {
    padding: 70px 0;
}

.button {
	background-color: #EDAE06; /* 여기해야됨 */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}