@CHARSET "UTF-8";

h2 {
	height: 24px;
	color: #1a1a1a;
	font-size: 15px;
	line-height: 15px;
	letter-spacing: -1px;
	font-weight: bold;
	font-family: "맑은 고딕", "Malgun Gothic", "Apple Gothic", sans-serif;
}

#conts {
	padding: 30px 0 0 0;
}

#conts h2 {
    margin-top: 0 !important;
}

#conts_section {
	position: relative;
	width: 1008px;
	margin: 0 auto;
	padding: 0 228px 0 20px;
}

#conts_section.pr_none {
	padding: 0 20px;
}

#cont_wrap {
	min-height: 100%;
	margin: 0 auto;
	background: none;
}

.clfix {
	zoom: 1;
}

.clfix {
	display: block;
}

.none {
	position: absolute;
	top: -5000em;
	left: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

/* 페이지 처리 */
.wrap_page {
    position: absolute;
    top: 0;
    right: 0;
}

.wrap_page .page_num {
    display: inline-block;
    color: #888;
    font-size: 12px;
    line-height: 17px;
    vertical-align: top;
}

.wrap_page .page_num strong {
    color: #1a1a1a;
    font-weight: normal;
}

.wrap_page .wrap_btn {
    vertical-align: top;
}

.wrap_page .page .wrap_btn .btn_pre {
    margin-right: -2px;
}

.wrap_page .btn_pre span.odd_span, .wrap_page .btn_next span.odd_span {
    width: 20px;
    height: 17px;
    background-image: url("../../../assets/img/main/common/main_bg_btn_page.png");
    background-repeat: no-repeat;
    font-size: 0;
    line-height: 0;
}

.wrap_page .btn_pre span.odd_span {
    background-position: left -220px;
}

.wrap_page .btn_pre.disabled span.odd_span {
    background-position: left -202px !important;
}

.wrap_page .btn_next span.odd_span {
    background-position: right -220px;
}