@CHARSET "UTF-8";

.promotion_wrap {
    position: relative;
    width: 280px;
    height: 188px;
    margin-top: 8px;
    background-image: url("../../../assets/img/main/concert/main_concert_loading.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promotion_wrap .promotion_default {
    position: absolute;
    z-index: 1;
}

.promotion_wrap a span.bg_album_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 188px;
    background-image: url("../../../assets/img/common/common_bg_frame.png");
    background-repeat: no-repeat;
    background-position: 0 -320px;
    cursor: pointer;
}

.promotion_wrap ul {
    position: relative;
    overflow: hidden;
    width: 280px;
    height: 188px;
}

.promotion_wrap li {
    position: absolute;
    height: 188px;
}

.promotion_wrap .play_control {
    position: absolute;
    top: 11px;
    right: 11px;
    z-index: 2;
}

.promotion_wrap .play_control .move {
    font-size: 0;
    line-height: 0;
}

.promotion_wrap .play_control .move a.on {
    background-image: url("../../../assets/img/common/common_btn_page_music.png");
    background-repeat: no-repeat;
    background-position: -1px -189px;
}