@CHARSET "UTF-8";

.hot_issue {
	clear: both;
	width: 704px;
	position: relative;
	float: left;
	height: 472px;
	margin-top: 32px;
}

/* 제목 영역 */
.hot_issue h2 {
	border-bottom: 1px solid #dfe6e8;
}

.hot_issue h2 span.title_link {
	float: left;
	width: 70px;
	height: 15px;
	display: block;
	/* background: url(//cdnimg.melon.co.kr/resource/image/web/main/bg_main_title_140716.png) no-repeat;
    background-position: 0 -194px;
    text-indent: -9999px; */
}

.hot_issue h2 span.txt_intro {
	display: inline-block;
	width: 300px;
	margin-top: 1px;
	padding-left: 12px;
	letter-spacing: 0;
	font-weight: normal;
	color: #888;
	font-size: 12px;
	font-family: "Dotum", "Apple Gothic", sans-serif;
	background: none;
	vertical-align: top;
}

/* 리스트 */
.hot_issue .issue_list04 {
	clear: both;
	width: 704px;
}

.hot_issue .issue_list04 dl {
	position: relative;
	margin: 16px 0 2px 16px;
	float: left;
}

.issue_list04 dl dd {
    width: 223px;
    height: 148px;
}

.issue_list04 .mov_area {
    position: relative;
}

.issue_list04 .playtime {
    display: block;
    position: absolute;
    bottom: 6px;
    right: 6px;
    margin-left: 24px;
    height: 16px;
    background-image: url("../../../assets/img/main/hot_issue/main_hot_issue_playtime.png");
    background-repeat: no-repeat;
    background-position: right 0;
}

.issue_list04 .playtime {
    *cursor: pointer;
}

.issue_list04 .playtime .time {
    display: block;
    position: relative;
    top: 0;
    left: -24px;
    height: 16px;
    margin-right: -19px;
    padding-left: 23px;
    line-height: 16px;
    background-image: url("../../../assets/img/main/hot_issue/main_hot_issue_playtime.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    color: #fff;
    font-size: 11px;
    font-family: Arial, "Apple Gothic", sans-serif;
}

.issue_list04 a span.bg_album_frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 223px;
    height: 148px;
    background-image: url("../../../assets/img/main/common/main_common_bg_frame.png");
    background-repeat: no-repeat;
    background-position: -570px -382px;
}

.issue_list04 dl dt {
    width: 223px;
    line-height: 16px;
}

.issue_list04 dl dt a {
    color: #888;
    cursor: pointer;
}

.issue_list04 .title {
    display: block;
    overflow: hidden;
    height: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 6px;
    margin-bottom: 2px;
    word-break: break-all;
}

.issue_list04 .ellipsis {
    display: block;
    width: 223px;
    height: 16px;
    overflow: hidden;
    word-break: break-all;
}

.issue_list04 .view_no {
    margin-top: 2px;
    font-size: 11px;
    font-family: "Dotum", "Apple Gothic", sans-serif;
    color: #888;
    height: 14px;
}

.issue_list04 .view_no .bar {
    padding-right: 6px;
    margin-right: 5px;
    color: #EDAE06;
}

.issue_list04 .view_no a {
    color: #EDAE06;
}