@CHARSET "UTF-8";

	.upBtn{
		  background-color: #FFF;
 		  border: 1px solid #bfbfbf;
  		  border-radius: 10px;
  		  cursor: pointer;
		  font-size:12px;
		  font-weight: bold;
		  line-height: 1.4;
		  padding: 5px;
		  width: 70px;
		  color: #666666;

	}
	.upBtn:hover{
		border: 1px solid #8e8e8e;
	}