@CHARSET "UTF-8";

	#contsMem p{
		font-weight: bold;
	    font-size: 16px;
	    line-height: 22px;
	    font-family: "맑은 고딕","Malgun Gothic",sans-serif;
	    color: #333;
	    letter-spacing: -1px;
	    margin-bottom: 20px;
	}
	
	#noti_box{
	    margin-top: 40px;
 	   	padding: 18px 23px 17px;
    	border: 1px solid #d9d9d9;
	}
	
	#noti_box li{
	    padding-left: 9px;
    	font-size: 12px;
    	font-family: "돋움","Dotum","Apple Gothic",sans-serif;
    	line-height: 22px;
    	color: #666;
	
	}